<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ninja Gold Game</title>
    {% load static%}
    <link rel="stylesheet" type="text/css" href="{% static 'style.css'%}">

</head>
<body>
    <h1>Ninja Gold Game</h1>
    <h2>Your Gold: {{ gold }}</h2>
    <div class='div2'>
        <div class="div">
            <h1> Farm </h1>
            <h3> (earns 10-20 gold) </h3> 
            <form action='Gold' method="POST">
                {% csrf_token %}
                <input type="hidden" name="location" value="farm"/>
                <button type="submit">Find Gold</button>
            </form>
        </div>
        <div class="div">
            <h1> Cave </h1>
            <h3> (earns 10-20 gold) </h3> 
            <form action='Gold' method="POST">
                {% csrf_token %}
                <input type="hidden" name="location" value="cave" />
                <button type="submit">Find Gold</button>
            </form>
        </div>
        <div class="div">
            <h1> House </h1>
            <h3> (earns 10-20 gold) </h3> 
            <form action='Gold' method="POST">
                {% csrf_token %}
                <input type="hidden" name="location" value="house" />
                <button type="submit">Find Gold</button>
            </form>
        </div>
        <div class="div">
            <h1> Quest </h1>
            <h3> (earns 10-20 gold) </h3> 

            <form action='Gold' method="POST">
                {% csrf_token %}
                <input type="hidden" name="location" value="quest" />
                <button type="submit">Find Gold</button>
            </form>
        </div>
    </div>
    <form action='delete' method="POST">
        {% csrf_token %}
        <button type="submit"class="reset">Reset</button>
    </form>

    <h3>Activities:</h3>
        <div class="activities">
        {% for activity in activities %}
            <p class="{% if activity.earned %}green{% else %}red{% endif %}">
                {{ activity.message }}
            </p>
        {% endfor %}
        </div>

</body>
</html>
