
main{
    padding: 0 70px;
}
nav{
    background-color: black;
}
nav h1{
    color: white;
    padding: 20px;
}
.yourfeed{
    text-align:center ;
}
.all-page{
    display: flex;
}
.section5{
    width: 100%;
}

.div1{
    padding: 15px;
    border: 2px black solid;
    width: fit-content;
    text-align: center;
}
.like3{
    display: flex;
    justify-content: space-between;
    padding: 20px 20px 0px 20px;

}
button{
    width: 50px;
    background-color: #ffda66;
    color: black;

}
.Neil{
    border: 2px black solid;
    margin: 0 0 20px 20px;
    width: 100%;


}
.par1{
    margin-left: 20px;
}
.top{
    display: flex;
    gap: 20px;
}
