.container {
    position: relative;
    width: 500px;
    margin: 0px auto;
    height: 330px;
    border: 1px solid #cccccccc;
    font-family:Arial, Helvetica, sans-serif sans-serif;



}

.back-ground {
    height: 100px;
    background-color: #16a2b8;
}

.user-circle {
    position: absolute;
    top: 60px;
    left: 30px;
    width: 70px;
    height: 70px;

    border: solid rgba(255, 255, 255, 0.553) 5px;
    border-radius: 70px;
}

.username {
    position: relative;
    top: 20px;
    left: 20px;
}

.map {
    left: 25px;
    height: 20px;
    width: 15px;
    margin-right: 10px;
}
.adress{
    position: absolute;
    display: flex;
    left: 20px;
    top: 57%;
    


}
.description{
    position: absolute;
    left: 30px;
    top: 60%;
}

.url{
    position: absolute;
        left: 50px;
        bottom: 10px;
}
.gear{
    position: absolute;
    height: 20px;
    width: 20px;
    left: 20px;
    bottom: 10px;
    
}
