<!DOCTYPE html>
<html lang="en">
<head>
    <title>Add New Show</title>
</head>
<body>
    <h1>Add a New Show</h1>
    <form action="/shows/create" method="POST">
        {% csrf_token %}
        Title: <input type="text" name="title">
        {% if errors.title %} <p style="color:red">{{ errors.title }}</p> {% endif %}

        Network: <input type="text" name="network">
        {% if errors.network %} <p style="color:red">{{ errors.network }}</p> {% endif %}

        Release Date: <input type="date" name="release_date">
        {% if errors.release_date %} <p style="color:red">{{ errors.release_date }}</p> {% endif %}
        Description: <textarea name="description"></textarea>
        <button type="submit">Create Show</button>
    </form>
    <a href="/shows">Back to All Shows</a>
</body>
</html>
