.div3{
    height: 200px;
    width: 200px;
    border: #928888 2px solid;
}
header{
    position: relative;
    padding: 15px;
    background-color:#333333 ;
}
.text{
    margin-left: 30px;
    color: white;
}
.class2{
    padding: 5px 10px;
    position: absolute;
    background-color: hsl(0, 0%, 51%);
    border-radius: 100px;
    top: 38px;
    left: 20px;
}
.image-text{
    padding: 10px;
    position: relative;
}
.img1{
    border-radius: 50px;
    height: 50px;
}
.img2{
    gap:5px;
    display: flex;
    height: 30px;
    width: 40px;
    position: absolute;
    right: 29px;
    top: 12%;
}
.name1{
    position: absolute;
    top: 6%;
    left: 65px;
}
.img3{
    margin-top: 5px;
    border-radius: 50px;
    height: 50px;
}
.img4{
    position: absolute;
    gap: 5px;
    display: flex;
    height: 30px;
    width: 40px;
    right: 29px;
    bottom: 15%;
}
.name2{
    position: absolute;
    bottom: 10%;
    left: 70px;
}
