.div4 {
    position: relative;
    height: 400px;
    width: 200px;
    border: #928888 2px solid;
}

header {
    padding: 10px;
    background-color: #333333;
}
.text1{
    color: aliceblue;
    margin-left: 50px;
}
.class3{
    position: absolute;
    top: 25px;
    left:10px;
    background-color: #928888;
    padding: 1px 5px;
    border-radius: 100px;
}
img{
    display: flex;
    height: 50px;
    border-radius: 50px;
    padding: 10px;   
}
.name5{
    position: absolute;
    top: 75px;
    left: 80px;
}
.name6{
    position: absolute;
    top: 150px;
    left: 80px;
}
.name7{
    position: absolute;
    top: 220px;
    left: 80px;
}
.name8{
    position: absolute;
    bottom:55px;
    left: 80px;
}
.url1{
    padding: 10px;
}